10:
25: Demi-chemin !
50: C'est parti !
100: Objectif atteint !
150: Incroyable !
200: Fantastique !
250: Extraordinaire !
300: Record battu !
500: LÉGENDAIRE ! mais non
1000: MYTHIQUE !
2000: IMPOSSIBLE !
20000: LETS !