5:
10: Bon début !
25: Premier pallier !
50: Super début !
75: En route !
100: Première centaine !
150: Excellent !
200: Fantastique !
250: Extraordinaire !
300: Incroyable !
500: LÉGENDAIRE !
750: ÉPIQUE !
1000: MYTHIQUE !
1500: DIVIN !
2000: IMPOSSIBLE !
